@model SistemaCursoOnline.Models.Curso

@{
    ViewBag.Title = "Remover Curso";
}

<h2><strong>Remover Curso</strong></h2>

<h3>Você tem certeza de que deseja remover este curso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCurso)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DescricaoCurso, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à Lista", "Index", "Curso", new { @class="btn btn-default"})
        </div>
    }
</div>
