@model SistemaCursoOnline.Models.Curso
@{
    ViewBag.Title = "Detalhes do Curso";
}

<h2><strong>Detalhes do Curso</strong></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCurso)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DescricaoCurso, new { htmlAttributes = new { disabled="true", @class = "form-control", style="width:300px;" } })
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.IdCurso }, new { @class="btn btn-info"}) |
    @Html.ActionLink("Voltar à lista", "Index", "Curso", new { @class = "btn btn-default" })
</p>
