@model IEnumerable<SistemaCursoOnline.Models.Curso>

@{
    ViewBag.Title = "Cursos Cadastrados";
}

<h2>Cursos Cadastrados</h2>

<p>
    @Html.ActionLink("Adicionar Novo Curso", "Create", "Curso", new {@class="btn btn-link" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.IdCurso },  htmlAttributes: new { @class="btn btn-success"}) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdCurso }, htmlAttributes: new { @class = "btn btn-info" }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdCurso }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
