@model SistemaCursoOnline.Models.Turma

@{
    ViewBag.Title = "Remover Turma";
}

<h2><strong>Remover Turma</strong></h2>

<h4>Tem certeza de que deseja remover esta turma?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.DescricaoTurma)

                </dt>

                <dd>
                    @Html.EditorFor(model => model.DescricaoTurma, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                </dd>
                <br />
            </div>


            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.QtdeAlunos)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.QtdeAlunos, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                    <br />
                </dd>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Turno)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                </dd>
                <br />
            </div>

            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { disabled = "true" } })
                </dd>
            </div>
        </div>
        <br />
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à Lista", "Index", "Turma", new { @class="btn btn-default"})
        </div>
    }
</div>
