@model SistemaCursoOnline.Models.Turma

@{
    ViewBag.Title = "Detalhes da Turma";
}

<h2><strong>Detalhes da Turma</strong></h2>

<div>
    <hr />
    <div class="dl-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.DescricaoTurma)

                </dt>

                <dd>
                    @Html.EditorFor(model => model.DescricaoTurma, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                </dd>
                <br />
            </div>

            
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.QtdeAlunos)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.QtdeAlunos, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                    <br />
                </dd>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Turno)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @class = "form-control", style = "width:300px;", disabled = "true" } })
                </dd>
                <br />
            </div>
            
            <div class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { disabled = "true" } })
                </dd>
            </div>
        </div>
        <br />
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.IdTurma }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Voltar à Lista", "Index", "Turma", new { @class = "btn btn-default" })
</p>
