@model SistemaCursoOnline.Models.Usuario

@{
    ViewBag.Title = "Remover Usuário";
}

<h2><strong>Remover Usuário</strong></h2>

<h4>Tem certeza de que deseja remover este usuário?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTurma)
        </dt>

        <dd>
            @Html.DropDownList("IdTurma", new SelectList(ViewBag.ListaTurma, "IdTurma", "DescricaoTurma", Model.IdTurma), new { disabled = "true", @class = "form-control", style = "width:300px;" })
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à Lista", "Index", "Usuario", new { @class="btn btn-default"})
        </div>
    }
</div>
