@model SistemaCursoOnline.Models.Usuario

@{
    ViewBag.Title = "Detalhes do Usuário";
}

@{
    if (ViewBag.DetalhesComuns == true)
    {
        <h2>Details</h2>
    }
    else
    {
        <h2>Esse CPF já esta cadastrado no sistema</h2>
    }
}
<!--<h2>Details</h2>-->

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { disabled = "true", @class = "form-control", style = "width:300px;" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTurma)
        </dt>

        <dd>
            @Html.DropDownList("IdTurma", new SelectList(ViewBag.ListaTurma, "IdTurma", "DescricaoTurma", Model.IdTurma), new { disabled = "true", @class = "form-control", style = "width:300px;" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.IdUser }, new { @class="btn btn-success"}) |
    @Html.ActionLink("Voltar à Lista", "Index", "Usuario", new { @class = "btn btn-default" })
</p>
