@model IEnumerable<SistemaCursoOnline.Models.Usuario>

@{
    ViewBag.Title = "Usuários Cadastrados";
}

<h2>Usuários Cadastrados</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create", "Usuario", new { @class="btn btn-link"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTurma)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Convert.ToDateTime(item.DataNascimento).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTurma)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.IdUser }, new { @class="btn btn-success"}) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdUser }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.IdUser }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
